body{
  background-color: beige;
}

form {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
}

label:before {
    content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
    position: absolute;
    z-index: 100;
  }
  :checked+label:before {
    content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
  }
  input[type=checkbox] {
    display: none;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  label {
    margin: 10px;
  }

  button {
      grid-column-start: 2;

  }

  div{
    display: inline-block;
    width: 100%;
  }
  
  div img {
    float: left;
  }

div h1 {
    color: rebeccapurple;
    font-size: 12px;
    float: left;
  }


 